@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
h1,
h2,h3,h4,h5 {
  color: #000000;
  font-family: "Luckiest Guy";
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  text-align: center;
  width: 100%;
  background-color: #FAE0EE;
  padding: 0.1em;
}
body {
  background-color: #ffffff;
}
main {
  background-color: white;

  display: block;
}
img {
  box-shadow: 5px 5px 5px #999;
  max-width: 19%;
  float: right;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #FAE0EE;
  padding: 0.1em;
  display: block;
}

ul {
  display: inline-block;
  font-size: 1.2em;
}

a {
color: #000000;
}

a:hover{
  color: #Ff69b4;
}

#assignment-list {
  min-height: 300px;
}

#design-content{
  text-align: center;
}


#design-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;
  text-decoration: underline;
}

#design-1 {
  border: 2px solid #Ff69b4;
  border-radius: 10px;
  grid-column: 1;
      grid-row: 1;
      text-align: center;
}

#design-2 {
  border: 2px solid #Ff69b4;
  border-radius: 10px;
  grid-column: 2;
  text-align: center;
      
}

#design-3 {
  border: 2px solid #Ff69b4;
  border-radius: 10px;
  grid-column: 3;
  text-align: center;
     
}

.huge{
  grid-column: 1;
  grid-row: 1;
}

.bliss{
  grid-column: 2;
}

.trailer{
  grid-column: 3;
}



/*
Weather site 
*/

.weather-nav{
display: flex;
list-style: none;
justify-content: space-evenly;
}

.cloud{
  box-shadow: 5px 5px 5px #999;
  max-width: 19%;
float: left;
}










/*
Preston home page*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  font-size: 18px;
}

#wrapper {
  padding: 0vw;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#FAE0EE;
}

.headings {
  padding: 2vw;
  line-height: .5em;
  text-align: center;
}

#weather-logo {
  width: 15vw;
}

#prestonTitle {
  font-size: 1.8em;
}

#tagline {
  font-size: 1em;
}

nav {
  background-color: rgb(223, 215, 215);
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
}



nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

#preston-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-heading {
  line-height: 0.5em;
  padding: 0 5vw;
}

.area-heading h1 {
  font-size: 1.8em;
}

.area-heading h2 {
  font-size: 1em;
}

.info {
  border: 2px solid;
  width: 60vw;
  text-align: center;
  border-radius: 8px;
  margin: 1vw;
}

#currCon {
  background-color:#87beec;
}

#temp {
  background-color: yellow;
}

#precip {
  background-color: pink;
}

#futureCond {
  background-color: grey;
}


@media sreen and (min-width: 40em) {
  
}


.hamburger-menu span{
  background: #FAE0EE
  width: 40px;
  height: 5px;
display: block;
margin-bottom: 2px;
}
