@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
h1,
h2 {
  color: #000000;
  font-family: "Luckiest Guy";
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  text-align: center;
  width: 100%;
  background-color: #FAE0EE;
  padding: 0.1em;
}
body {
  background-color: #ffffff;
}
main {
  background-color: white;
  max-width: 100%;
  display: block;
}
img {
  box-shadow: 5px 5px 5px #999;
  max-width: 19%;
  float: right;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #FAE0EE;
  padding: 0.1em;
  display: block;
}

ul {
  display: inline-block;
  font-size: 1.2em;
}

a {
color: #000000;
}

a:hover{
  color: #Ff69b4;
}

#assignment-list {
  min-height: 300px;
}