@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
h1,
h2,h3,h4,h5 {
  color: #000000;
  font-family: "Luckiest Guy";
  margin-top: 1em;
  margin-bottom: 1em;
}
header {
  text-align: center;
  width: 100%;
  background-color: #FAE0EE;
  padding: 0.1em;
}
body {
  background-color: #ffffff;
}
main {
  background-color: white;

  display: block;
}
img {
  box-shadow: 5px 5px 5px #999;
  max-width: 19%;
  float: right;
}

footer {
  text-align: center;
  width: 100%;
  background-color: #FAE0EE;
  padding: 0.1em;
  display: block;
}

ul {
  display: inline-block;
  font-size: 1.2em;
}

a {
color: #000000;
}

a:hover{
  color: #Ff69b4;
}

#assignment-list {
  min-height: 300px;
}

#design-content{
  text-align: center;
}


#design-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  grid-gap: 10px;
  text-decoration: underline;
}

#design-1 {
  border: 2px solid #Ff69b4;
  border-radius: 10px;
  grid-column: 1;
      grid-row: 1;
      text-align: center;
}

#design-2 {
  border: 2px solid #Ff69b4;
  border-radius: 10px;
  grid-column: 2;
  text-align: center;
      
}

#design-3 {
  border: 2px solid #Ff69b4;
  border-radius: 10px;
  grid-column: 3;
  text-align: center;
     
}

.huge{
  grid-column: 1;
  grid-row: 1;
}

.bliss{
  grid-column: 2;
}

.trailer{
  grid-column: 3;
}



/*
Weather site 
*/

.weather-nav{
display: flex;
list-style: none;
justify-content: space-evenly;
}

.cloud{
  box-shadow: 5px 5px 5px #999;
  max-width: 19%;
float: left;
}










/*
Preston home page*/

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  font-size: 18px;
}

#wrapper {
  padding: 0vw;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color:#FAE0EE;
}

.headings {
  padding: 2vw;
  line-height: .5em;
  text-align: center;
}

#weather-logo {
  width: 15vw;
}

#prestonTitle {
  font-size: 1.8em;
}

#tagline {
  font-size: 1em;
}

nav {
  background-color: rgb(223, 215, 215);
  z-index: 100;
  position: fixed;
  bottom: 0;
  width: 100%;
}



nav ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

#preston-area {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-heading {
  line-height: 0.5em;
  padding: 0 5vw;
}

.area-heading h1 {
  font-size: 1.8em;
}

.area-heading h2 {
  font-size: 1em;
}

.info {
  border: 2px solid;
  width: 60vw;
  text-align: center;
  border-radius: 8px;
  margin: 1vw;
}

#currCon {
  background-color:#87beec;
}

#temp {
  background-color: yellow;
}

#precip {
  background-color: pink;
}

#futureCond {
  background-color: grey;
}


@media sreen and (min-width: 40em) {
  
}


#menu{
	width: 35px;
	height: 30px;
	margin: 30px 0 20px 20px;
	cursor: pointer;
}
.bar{
	height: 5px;
	width: 100%;
	background-color: #b81568;
	display: block;
	border-radius: 5px;
	transition: 0.3s ease;
}
#bar1{
	transform: translateY(-4px);
}
#bar3{
	transform: translateY(4px);
}
.nav li a{
	color: #fff;
	text-decoration: none;
}
.nav li a:hover{
	font-weight: bold;
}
.nav li{
	list-style: none;
	padding: 16px 0;
}
.nav{
	padding: 0;
	margin: 0 20px;
	transition: 0.3s ease;
	display: none;
}
.menu-bg, #menu-bar{
	top: 0;
	left: 0;
	position: absolute;
}
.menu-bg{
	z-index: 1;
	width: 0;
	height: 0;
	margin: 30px 0 20px 20px;
	background: radial-gradient(circle,#e94498,#b81568);
	border-radius: 50%;
	transition: 0.3s ease;
}
#menu-bar{
	z-index: 2;	
}
.change-bg{
	width: 550px;
	height: 540px;
	transform: translate(-60%,-30%);
}
.change .bar{
	background-color: white;
}
.change #bar1{
	transform: translateY(4px) rotateZ(-45deg);
}
.change #bar3{
	transform: translateY(-6px) rotate(45deg);
}
.change #bar2{
	opacity: 0;
}
.change{
	display: block;
}


.component{ 
  margin-top: 50px;
  margin-bottom: 100px;
  margin: 100px;
  width: 200px;
  height: 200px; 
  background-color: darkgray; 
  position: relative; 
  border-radius: 90%;
  display: flex;
  justify-content: center;
}
.inner{   
width: 150px; 
height: 150px;   
background-color: #fff; 
border-radius: 90%;   
align-self: center; 
}  
.circle{   
position: absolute;
width: 26px; 
height: 26px;   
background-color: red; 
border-radius: 90%;   
top:-0.5px;
left: 42%;
}  
.hex{
  color: #24252a;
  background-color: #fff;
  position: absolute;
  top: 45%;
  left: 45%;
}

img{
width: 30px;
position: absolute;
}
.i0{
top:-40px;
left: 41%;
}
.i1{
  top:-27px;
right: 11%;
}

.i2{
   top:23px;
right: -14%;
}

.i3{
top:43%;
right:-40px;
}
.i4{
   bottom:23px;
right: -14%;
}
.i5{
  bottom:-27px;
right: 11%;
}
.i6{
bottom:-40px;
left: 41%;
}
.i7{
  bottom:-27px;
left: 11%;
}
.i8{
   bottom:23px;
left: -14%;
}
.i9{
top:43%;
left:-40px;
}
.i10{
   top:23px;
left: -14%;
}
p {
position: absolute;
background-color: darkgrey;

}

.p1{
  top:15px;
right: 25%;
}

.p2{
   top:40px;
right: 12%;
}
.p3{
top:45%;
right:10px;
}
.p4{
   bottom:50px;
right: 9%;
}
.p5{
  bottom:15px;
right: 25%;
}
.p6{
 bottom:5px;
left: 48%;
}
.p7{
  bottom:15px;
left: 25%;
}
.p8{
  bottom:50px;
  left: 9%;
}
.p9{
  top:45%;
  left:10px;
}
.p10{
  top:40px;
  left: 10%;
}
  




  


